# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/data/raw/*
!/data/raw/.gitkeep
!/data/raw/gtfs/
/data/raw/gtfs/*
!/data/raw/gtfs/.gitkeep
!/data/raw/osm/
/data/raw/osm/*
!/data/raw/osm/.gitkeep

/data/processed/*
!/data/processed/.gitkeep
!/data/processed/fixed-day-routing/
/data/processed/fixed-day-routing/*
!/data/processed/fixed-day-routing/.gitkeep
!/data/processed/car/
/data/processed/car/*
!/data/processed/car/osrm/
/data/processed/car/osrm/*
!/data/processed/car/osrm/.gitkeep

/apps/commute-viewer/public/generated/*
!/apps/commute-viewer/public/generated/.gitkeep
